################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SinglePageSite/Storage/Images
/SinglePageSite/Storage
/SinglePageSite/bin
/SinglePageSite/obj
/Tbs16.DAL/bin/Debug
/Tbs16.DAL/obj/Debug
/packages/log4net.2.0.5
/AutoService/logs
/AutoService/bin
/AutoService/bin/ru
/AutoService/obj
/AutoService/obj/Debug
/AutoService/obj/Debug/TempPE
/AutoService.DAL/bin
/AutoService.DAL/bin/Debug
/AutoService.DAL/bin/Release
/AutoService.DAL/obj
/AutoService.DAL/obj/Debug
/AutoService.DAL/obj/Debug/TempPE
*.dll
/AutoService.Services/bin/Debug
/AutoService.Services/obj/Debug
