body {
    padding-top: 85px;
    padding-bottom: 20px;
    background-color:lightcyan;
    background-image:url(Images/asphalt.jpg);
    background-size:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

footer{
    color:white;
    background-color: rgba(95, 111, 137, 0.7); 
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    border-radius:15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
    margin-bottom:5px;
    margin-top:5px;
    border-radius: 5px 5px 5px 5px;
}

a{
    margin-left: 10px;
    margin-bottom: 10px;
}
label.required:after
{
    color: red;
    content: " *";
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}
/*****************************************/        
.form-login input {
    border-radius: 50px 0 0 50px;
}
/*******************itemPreview**********************/
.itemPreview {
    padding-left: 10px;
    padding-right:10px;
    border:double;
    border-color:lightsteelblue;
    height: 100%;
    position:relative;
    background-color:white;
}
.itemPreview h4 {
    text-align:center;
}

.itemPreview:hover{
    background-color:lightskyblue;
}

.itemPreview:active{
    background-color:mediumturquoise;
}
.itemPreviewLink{
    color:black;
}
.itemPreviewLink:hover {
    text-decoration:none;
}
.itemPreviewLink:visited {
    text-decoration:none;
}

/*****************************************/
.previewImage{
     padding-bottom:25px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row-eq-height [class*='col-']{
    padding-bottom:25px;
}
.price{
    font-size:large;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

/********************Home Index****************/
.main-block-1{
    height:400px;
    background-image:url(Images/Diagnostika-avto.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.main-block-2{
    height:400px;
    background-image:url(Images/kuzovnoy-remont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-block-3{
    height:400px;
    background-image:url(Images/shinomontazh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-block-4{
    height:400px;
    background-image:url(Images/slesarniy-remont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.block{
    padding-bottom:50px;
}

.main-block{
    -webkit-filter:grayscale(3);  
}

.main-block:hover {
  -webkit-filter:none;
}

.main-block-text span {
    color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
    position:absolute;
    top: 15px;
    left:15px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
.main-block-batton{
    
    position:absolute;
    bottom:25px;
    right:25px;
}
.main-block-batton a {
    font: bold 24px/45px Helvetica, Sans-Serif;
}
/**********************************************/
.custom-form-group {
    background-color: rgba(95, 111, 137, 0.7); 
    padding-bottom:100px;
    padding-top:50px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:50px;
    margin-left:50px;
    margin-right:50px;
    border-radius:25px;
    color:white;
}

/***************************NavigationBar*********/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(201, 201, 201, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(92, 91, 91, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(92, 91, 91, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 0px;
    opacity:0.9;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(209, 201, 201, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(171, 168, 130, 1);
    background-color: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(148, 148, 139, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(148, 148, 139, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(176, 163, 92, 1);
    background-color: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(148, 148, 139, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(148, 148, 139, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
/*************************************************/

