@using AutoService.Security;
@using AutoService.FileStorage;
@model AutoService.Services.ViewModels.ContentListViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Контенет";
    var isAdmin = Security.HasRole((int)AutoService.Enums.Roles.Admin, User.Identity.Name);
}

<div class="container">
    <div class="row" style="padding-bottom:20px">
        @if (isAdmin)
        {
            <a href="/Content/Create" class="btn btn-primary col-md-2 col-lg-2 col-sm-3 col-xs-4" role="button">Добавить контент</a>
        }
    </div>
</div>
<div class="container">
    <div class="row row-eq-height"> 
        @foreach (var item in Model.Items)
        {
            <div class="col-md-2 col-lg-2 col-sm-3 col-xs-4">
                <a href="@Url.Action("Detail", "Content", new { id = item.id})" class="itemPreviewLink">
                    <div id="itemPreview-@item.id" class="itemPreview">
                        <h4>@item.Name</h4>
                        @if (item.Attachments != null)
                        {
                            <div class="previewImage">
                                <img src="@Storage.GetImagePathById(item.Attachments.FirstOrDefault().id)" class="img-thumbnail" />
                            </div>
                        }
                        <div class="price">
                            <b>@item.Price руб</b>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>