@{
    ViewBag.Title = "Главная";
}

<div class="container">
    <div class="row block">
        <div class="main-block main-block-1  
             col-md-8 col-md-offset-2
             col-lg-8 col-lg-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-8 col-xs-offset-2">

            <div class="main-block-text">
                <span>Диагностика</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-2 
             col-md-8 col-md-offset-2
             col-lg-8 col-lg-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-8 col-xs-offset-2">

            <div class="main-block-text">
                <span>Кузовной ремонт</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-3 
             col-md-8 col-md-offset-2
             col-lg-8 col-lg-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-8 col-xs-offset-2">

            <div class="main-block-text">
                <span>Шиномонтаж</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-4 
             col-md-8 col-md-offset-2
             col-lg-8 col-lg-offset-2
             col-sm-8 col-sm-offset-2
             col-xs-8 col-xs-offset-2">

            <div class="main-block-text">
                <span>Слесарный ремонт</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
</div>