@{
    ViewBag.Title = "Главная";
}

<div class="container">
    <div class="row block">
        <div class="main-block main-block-1  
             col-md-6 col-md-offset-3
             col-lg-6 col-lg-offset-3
             col-sm-6 col-sm-offset-3
             col-xs-6 col-xs-offset-3">

            <div class="main-block-text">
                <span>Диагностика</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-2 
             col-md-6 col-md-offset-3
             col-lg-6 col-lg-offset-3
             col-sm-6 col-sm-offset-3
             col-xs-6 col-xs-offset-3">

            <div class="main-block-text">
                <span>Кузовной ремонт</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-3 
             col-md-6 col-md-offset-3
             col-lg-6 col-lg-offset-3
             col-sm-6 col-sm-offset-3
             col-xs-6 col-xs-offset-3">

            <div class="main-block-text">
                <span>Шиномонтаж</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
    <div class="row block">
        <div class="main-block main-block-4 
             col-md-6 col-md-offset-3
             col-lg-6 col-lg-offset-3
             col-sm-6 col-sm-offset-3
             col-xs-6 col-xs-offset-3">

            <div class="main-block-text">
                <span>Слесарный ремонт</span>
            </div>
            <div class="main-block-batton">
                <a href="" class="btn btn-warning" role="button">Записаться</a>
            </div>
        </div>
    </div>
</div>