<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--connectionStrings>
      <add name="AutoService"
        connectionString="Data Source=NIKITA;Initial Catalog=AutoService;Integrated Security=True; user=Nikita\Никита" providerName="System.Data.SqlClient"/>
    </connectionStrings-->
  <system.web>
  </system.web>
</configuration>
